#A{
    height: 40px;
    width: unset;
    margin: 4px;
    margin-left: 12px;
}
#menuContainerContainer{
    margin-left: 59px;
}
#menuContainer{
    border: black 1px solid;
    border-width: 0px 3px 0px 3px;
    padding: 6px;
    margin: 4px;
    border-radius: 12px;
    background-color: #dadada0a;
}
.pointer{
    border: 6px solid black;
    background-color: #ffffff94;
    user-select: none;
    width: 22%;
    height: 9%;
    padding: 36px 113px 36px 113px;
    border-width: 10px 0px 10px 0px;
}
#leftPointer{
    top: 85%;
    left: 4%;
    border-radius: 115px 0px 0px 115px;
}
#rightPointer{
    top: 85%;
    right: 4%;
    border-radius: 0px 105px 105px 0px;
}
#viewPart{
    border: 8px black solid;
    border-radius: 115px;
    background-image: url(../Images/partView_Background_Verticle.png);
    background-size: 100% 116%;
    top:11%;
    height: 72%;
    width: 88%;
}
#col1{
    display: none;
}
#col2{
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    height: min-content;
    top: 2%;
    zoom: 3;
    border-radius: 100px;
    border: none;
    padding: 0px;
}
#zoomImg{
    width: 94%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    height: unset;
    
}
#partView_tags{
    font-size: 20px;
}
#partView_location{
    font-size: 25px;
}
#partView_catagoy{
    font-size: 20px;
}
#outofstockOverlayImg{
    margin-left: 294px;
}
#widener{
    height: 110px;
}
#retrievedImg{
    border-width: 2px;
    box-shadow: 0px 0px 0px 1px #cccccc;
    border-radius: 25px;
}
#goHome{
    zoom: 2.9;
    right: 10px;
}